apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: devops-assignment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: markthanapat/f1ab8bc1fbb102c648fb9b4385547573d3c70e11
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
          livenessProbe:
            httpGet:
              path: /health
              port: 8080