apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: devops-assignment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: markthanapat/f1ab8bc1fbb102c648fb9b4385547573d3c70e11
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80